.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 5rem;
  font-weight: 600;
  color: white;
  font-family: 'Anton', sans-serif;
  font-family: 'Architects Daughter', cursive;
}

.bio {
  text-align: center;
  color: white;
  margin-top: 16px;
  font-family: 'Anton', sans-serif;
  font-family: 'Architects Daughter', cursive;
  font-size: 2rem;
}

form {
  text-align: center;
  margin: 30px;
}

.textArea {
  background-color: black;
  color: white;
  resize: none;
}

.label {
	color: white;
	margin: 30px 30px 30px 30px;
    font-family: 'Anton', sans-serif;
    font-family: 'Architects Daughter', cursive;
	font-size: 2rem;
}

.waveButton:hover{
	background-color: white;
	color : green;
}
.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  background-color: white;
  color : black;
  font-family: 'Anton', sans-serif;
}

.header:hover {
  transform: rotate(4deg); /* Equal to rotateZ(45deg) */
}
